# keep compiled python out of repo
*.pyc
# keep out annoying mac files
.DS_Store
# keep out user data
data/
sessions/
# keep out log files
*.log
# For virtual environments
venv/
# Keep out local scripts to deal with remote server
remote/
