* {
  font-size: inherit;
  font-family: Segoe UI, Roboto, Droid Sans, Verdana, Tahoma, Serif;
}

.project {
	float: left;
}

p.large{
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
	padding: 10px 20px;
	border: 0;
}
p.large:hover{
	background-color: green;
	color: white;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
	float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

h1.error{
	text-align: center;
	background-color: #880000;
	color: white;
}

table.projects {
    border-collapse: collapse;
}

table.projects, td.projects {
    border-left-style: 1px solid black;
    border-right-style: 1px solid black;
}

tr.projects:nth-child(even) {background-color: #f2f2f2}

table.commits {
    border-collapse: collapse;
}

table.commits, td.commits {
    border-left-style: 1px solid black;
    border-right-style: 1px solid black;
}

table.diff{
    border: 1px solid black;
	padding: 0px;
	margin: 20px;
    margin-left:auto; 
    margin-right:auto;
}

tr.commits:nth-child(even) {background-color: #f2f2f2}
tr.notEquals {background-color: #880000; color: white;}
tr.onlyOne {color: blue}
tr.equals {color: gray}
tr.failedMerge {background-color: tomato; color: white;}
tr.head {background-color: silver;}

th {
    background-color: #4CAF50;
    color: white;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Content/Box */
.modal-content {
	position: relative;
    background-color: #fefefe;
    margin: auto; 
    padding: 0;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* The Close Button */
.close {
    color: #white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
