* {
  font-size: inherit;
  font-family: Segoe UI, Roboto, Droid Sans, Verdana, Tahoma, Serif;
  padding: 0px;
  margin: 0px;
}

h1.error{
	text-align: center;
	background-color: #880000;
	color: white;
}

table.commits {
    border-collapse: collapse;
}

table.commits, td.commits {
    border-left-style: 1px solid black;
    border-right-style: 1px solid black;
}

tr:nth-child(even) {background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}