* {
  font-size: inherit;
  font-family: Segoe UI, Roboto, Droid Sans, Verdana, Tahoma, Serif;
}

h1.error{
	text-align: center;
	background-color: #880000;
	color: white;
}

table.commits {
    border-collapse: collapse;
}

table.commits, td.commits {
    border-left-style: 1px solid black;
    border-right-style: 1px solid black;
}

table.diff{
    border: 1px solid black;
	padding: 0px;
	margin: 20px;
    margin-left:auto; 
    margin-right:auto;
}

tr.commits:nth-child(even) {background-color: #f2f2f2}
tr.notEquals {background-color: #880000; color: white;}
tr.onlyOne {color: blue}
tr.equals {color: gray}
tr.failedMerge {background-color: tomato; color: white;}
tr.head {background-color: silver;}

th {
    background-color: #4CAF50;
    color: white;
}